@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    --soft-magenta: hsl(300, 69%, 71%);
    background-color: hsl(257, 40%, 49%);;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Open Sans', sans-serif;
    --main-color: hsl(260.77,56.52%,90.98%);
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-template-rows: 64% 54% 20%;
    padding: 5vh 7vw;
    gap: 1vh;
}

.header {
    display: grid;
    grid-template-rows: 26% 74%;
}

.header img {
    width: 36vw;
}

.slide {
    text-align: center;
}

.slide img {
  width: 92%;
  padding-top: 1vh;
}

.main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: var(--heading-font-family);
    color:  var(--main-color);
    padding-bottom: 3vh;
    text-transform: capitalize;
}

p {
    width: 94%;
    font-family: var(--body-font-family);
    color: var(--main-color);
    padding-bottom: 3vh;
}

button {
    width: 74%;
    height: 20%;
    border-radius: 30px;
    color: hsl(257, 40%, 49%);
    font-size: 1.1em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.icon {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: white;
}

.instagram {
    display: flex;
    align-items: center;
   justify-content: center;
}

@media only screen and (min-width: 768px) {

    body {
        background-image: url(/images/bg-desktop.svg);
    }

    .container {
        display: grid;
        grid-template-rows:  90% 20%;
        grid-template-columns: 60% 47%;
        padding: 5vh 7vw;
        gap: 1vh;
    }
    
    .header img {
        width: 16vw;
    }
    .slide img {
      width: 53vw
    }
    
    .main {
        grid-column:  2 / 3;
        grid-row: 1 / 3;
        text-align: left;
        justify-content: center;
        align-items: flex-start;
        padding-left: 2vw;
    }
    
    h2 {
       font-size: 2em;
        padding-bottom: 3vh;
    }
    
    p {
        width: 94%;
    }
    
    button {
        width: 37%;
        height: 7%;
    }
    
    .footer {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        justify-content: flex-end;
        gap: 1vw;
        padding-right: 5vw;
    }
}
